<title>Frontend</title>
<h1>Physical Layout</h1>


<table style="border-spacing: 20px 0px">
<% @layout.max.times do |rank| %> <!-- #fullest rack -->
  <tr>
  <% @layout.size.times do |rack| %> <!-- #number of racks, assumes sequential rack numbering  -->
    <td>
    <% if rank == 0 %> <!-- drop in a title for each column (rack) -->
      <h3><center>Rack <%= rack %></center></h3>
    <% end %>
    <% if location = @coordinates[rack][rank] %>
      <%= link_to(image_tag("rrd_graphs/small/#{location.node.hostname}.png"),location.node) %>
    <% end %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

<!--<%= link_to 'New Node', new_node_path %> -->
<br />
